extends ../layout

block content
	.container
		.row(style="text-align: center")
			.panel.panel-default
				.panel-heading(style="text-align: left")
					h4 #{keyword}
				.panel-body
					if movies && movies.length > 0
						each item in movies
							.col-md-2
								.thumbnail
									a(href="/movie/#{item.id}")
										if item.poster.indexOf('http') > -1
											img(src="#{item.poster}",alt="#{item.title}")
										else
											img(src="/upload/#{item.poster}",alt="#{item.title}")
									.caption(style="text-align:center")
										h4 #{item.title}
										p: a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片
			ul.pagination(style="margin: 10px 0")
				- for(var i = 0;i < totalPage;i ++){
					- if(currentPage == (i + 1)){
							li.active
								span #{currentPage}
					- }
					- else{
							li
								a(href="/results?#{query}&p=#{i}") #{i + 1}
					- }
				- }
