extends ../layout

block content
	.container
		.row
			.col-md-7
				embed(src="#{movie[0].flash}",allowFullScreen="true",quality="high",width="680",height="560",align="middle",type="application/x-shockwave-flash")
			.col-md-5
				dl.dl-horizontal
					dt 电影名称
					dd #{movie[0].title}
					dt 导演
					dd #{movie[0].director}
					dt 国家
					dd #{movie[0].country}
					dt 语言
					dd #{movie[0].language}
					dt 上映年份
					dd #{movie[0].release_date}
					dt 简介
					dd #{movie[0].summary}
